{% extends 'base.html.twig' %}

{% block title %}Add a book - {{ parent() }}{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1>{% block page_title %}Add a book{% endblock %}</h1>

        {% for message in app.flashes('success') %}
            <div class="alert alert-success" role="alert">
                {{ message }}
            </div>
        {% endfor %}

        {{ form_start(form, { attr: { novalidate: 'novalidate' } }) }}
            {{ form_row(form.name) }}
            {{ form_row(form.author) }}

            <div class="d-flex align-items-center justify-content-between">
                <a class="link-secondary" href="{{ path('app_book') }}">Return to index</a>
                <button class="btn btn-primary" type="submit">Save</button>
            </div>
        {{ form_end(form) }}
    </div>
{% endblock %}

