{% extends 'base.html.twig' %}

{% block title %}Books index - {{ parent() }}{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1>Books index</h1>

        {% for message in app.flashes('success') %}
            <div class="alert alert-success" role="alert">
                {{ message }}
            </div>
        {% endfor %}

        {{ form_start(form, { attr: { class: 'd-flex my-3' } }) }}
            {{ form_row(form.q, { row_attr: { class: 'flex-grow-1' } }) }}

            <div class="ms-1">
                <button class="btn btn-secondary" type="submit">Search</button>
            </div>
            <div class="ms-2">
                <a class="btn btn-primary" href="{{ path('app_book_create') }}" role="button">Add a book</a>
            </div>
        {{ form_end(form) }}

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Author</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for book in books %}
                <tr>
                    <th scope="row">{{ loop.index }}</th>
                    <td>{{ book.name }}</td>
                    <td>
                        <a class="link-primary" href="{{ path('app_person_update', { id: book.authorId }) }}">{{ book.authorName }}</a>
                    </td>
                    <td>
                        <a class="link-primary" href="{{ path('app_book_update', { id: book.id }) }}">Update</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
