{% extends 'base.html.twig' %}

{% block title %}Books index - {{ parent() }}{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1>Books index</h1>

        {% for message in app.flashes('success') %}
            <div class="alert alert-success" role="alert">
                {{ message }}
            </div>
        {% endfor %}

        <div class="d-flex mt-3">
            {{ form_start(form, { attr: { class: 'flex-grow-1' } }) }}
            {{ form_end(form) }}

            <div class="ms-3">
                <a class="btn btn-primary" href="{{ path('app_book_create') }}" role="button">Add a book</a>
            </div>
        </div>

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Author</th>
                </tr>
            </thead>
            <tbody>
                {% for book in books %}
                <tr>
                    <th scope="row">{{ loop.index }}</th>
                    <td>{{ book.name }}</td>
                    <td>{{ book.authorName }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
