{% extends 'base.html.twig' %}

{% block title %}Books index{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1>Books index</h1>

        {{ form_start(form) }}
        {{ form_end(form) }}

        <table class="table mt-3">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Author</th>
                </tr>
            </thead>
            <tbody>
                {% for book in books %}
                <tr>
                    <th scope="row">{{ loop.index }}</th>
                    <td>{{ book.name }}</td>
                    <td>{{ book.authorName }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
